# Сборочные артефакты
/target/

# Файлы от Cargo
**/*.rs.bk
Cargo.lock
# (оставь Cargo.lock, если это приложение, а не библиотека)

# Логи и временные файлы
*.log

# IDE / редакторы
.idea/
.vscode/
*.swp
*~

# Системные
.DS_Store
Thumbs.db
